* {
  background-color: aqua;
  color: black;
}

.head {
  display: flex;
  justify-content: center;
}


.nav {
 
}

.navList {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  background-color: chartreuse;
  height: 5rem;
}

.navList li {
  background-color: rebeccapurple;
}


.footer {
  background-color: coral;
  height: 5rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer * {
 background-color: inherit;
}


.app {
  display: flex;
  flex-direction: column;
}

.login {
  display: flex;
  justify-content: end;
  align-items: center;
}

.loginButton {
  width: 100%;
}